# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
data/
uploads/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# OS
.DS_Store
